[Unit]
Description=Battery notification daemon.
After=default.target

[Service]
Type=simple
ExecStart=battery_monitor
Restart=no
SuccessExitStatus=0

[Install]
WantedBy=default.target

